<div class="container">
  <h1>Test Results</h1>

  <p class="score">Your score is <%= @score %></p>

  <div class="summary">
    <% @list_of_test_questions.each do |question| %>
      <div class="question-container">
        <h3 class="question"><%= question.question %></h3>
        <p class="answer"><strong>Correct Answer:</strong> <%= question.correct_answer %></p>
        <% user_answer = params["answer_#{question.id}"] %>
        <p class="answer"><strong>Your Answer:</strong> <%= user_answer %></p>
      </div>
    <% end %>
  </div>

  <%= link_to 'Reset', reset_test_path, method: :post, class: 'reset-button' %>
</div>
